{% extends 'ERPGameBundle::layout.html.twig' %}

{% block body %}
<div class="page-header">
      <h1>Cliente</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p>
         <p><strong>Nome</strong>
            {{ entity.nome }}
        </p>
         <p><strong>Apelido</strong>
            {{ entity.apelido }}
        </p>
         <p><strong>Telefone</strong>
            {{ entity.telefone }}
        </p>
         <p><strong>Email</strong>
            {{ entity.email }}
        </p>
         <p><strong>Endereco</strong>
            {{ entity.endereco }}
        </p></div>
 
	<div class="form-actions">
        <a class="btn" href="{{ path('cliente') }}">
            Voltar para Lista
        </a>
        <a class="btn btn-primary" href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
        <form style="float:right" action="{{ path('cliente_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Remover</button>
        </form>
</div>{% endblock body %}