{% extends 'ERPGameBundle::layout.html.twig' %}

{% block body %}
<div class="page-header">
      <h1>Console</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p>
         <p><strong>Name</strong>
            {{ entity.name }}
        </p></div>
 
	<div class="form-actions">
        <a class="btn" href="{{ path('console') }}">
            Voltar para Lista
        </a>
        <a class="btn btn-primary" href="{{ path('console_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
        <form style="float:right" action="{{ path('console_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Remover</button>
        </form>
</div>{% endblock body %}