{{ "{% extends 'ERPGameBundle::layout.html.twig' %}" }}

{{ '{% block body %}' }}
<div class="page-header">
    <h1>Editar: {{ entity|lower }}</h1>
</div>


<form action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }} class="form-horizontal" novalidate="novalidate">
    {{ "{{ form_widget(edit_form,{'form_type': 'horizontal'}) }}" }}
    <div class="control-group">
         <div class="controls">
                  <button type="submit" class="btn btn-primary">Editar</button>
         </div>
     </div>
</form>

{% set hide_edit = true %} 
{% set hide_delete = true %}
{% include 'views/others/record_actions.html.twig' %}
{{ '{% endblock body %}' }}